!!! 5
html
  include head
  body
    include header
    div.container-fluid
        div.row(style="margin-top:60px")
        div.row-fluid
            div.span8.offset2
                block main
            div.span2
                block right-sidebar
    include footer
    include foot
