extends layout/default

block main
    ol
        li
            a(href="/usingTemplate")
               span Using Template
        li
            a(href="/loopSample")
                 span Loops Sample
         li
                    a(href="/ajaxSample")
                         span Ajax Sample
