//
   Created with JetBrains WebStorm.
   User: maniacneron
   Date: 10/07/13
   Time: 9:58 AM
   To change this template use File | Settings | File Templates.

div.liste
    ul Fruit List
    each item in items
      li= item.adi
